body{
  background:fixed;
  background-image: url(http://imageshack.com/a/img922/5397/SCJTzv.png);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.head {
  margin-left: 3%;
  margin-top: 10%;
  font-family:;
  font-size: 2.5em;
  height: 100vh;
  margin-bottom: 5px;
}

.head h3{
  font-style: italic;
  font-size: 0.5em;
}
.butter{
  float: right;
  margin-right: 10%;
  z-index: 100;
}
.para{
  background-color: white;
}
p {
  width: 600px;
  margin: 0 auto 20px;
}
.picture1{
  background:fixed;
  background-image: url(http://imageshack.com/a/img921/9467/BurHzV.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}
.picture2{
  background:fixed;
  background-image: url(http://imageshack.com/a/img922/9966/Fayjgi.png);
  background-size: cover;
  background-position: center;
  width: 200vh;
  height: 100vh;
  z-index: 5;

}